<div class="home-content">
    <h3>Welcome to the next gen ToDo app.</h3><br/>

    {{#if user}}
            Checkout your todo list.
            <a href='/todo' class="btn btn-default">todo</a>
    {{else}}
        <p>Please login or signup to continue</p>
        <a href='/login' class="btn btn-default">Login</a>
        <a href='/signup' class="btn btn-default">Signup</a>
    {{/if}}
</div>