<div class="home-content">
    <div class="headline">
        Manage your todo's with ease.
    </div>
    <hr/>
    <div class="features">
        <span class="glyphicon glyphicon-hand-right"></span>&nbsp;Create a todo with ease.<br/>
        <span class="glyphicon glyphicon-hand-right"></span>&nbsp;Attach location with your todo.<br/>
        <span class="glyphicon glyphicon-hand-right"></span>&nbsp;Get notified via mail when todo nears due time.
    </div>
    <hr/>
    <div class="benefits">
        Get more productive&nbsp;<span class="glyphicon glyphicon-hand-left"></span><br/>
        Accomplish more and stay peaceful&nbsp;<span class="glyphicon glyphicon-hand-left"></span><br/>
        Manage your schedule like a pro&nbsp;<span class="glyphicon glyphicon-hand-left"></span><br/>
    </div>
</div>